[Desktop Entry]
Name=JArmEmu
Comment=The portable arm simulator
Exec=java -Dprism.dirtyopts=false -jar /usr/share/java/jarmemu/JArmEmu.jar %f
Terminal=false
Icon=jarmemu
Type=Application
Categories=Development;IDE;
StartupWMClass=fr.dwightstudio.jarmemu.gui.JArmEmuApplication
MimeType=text/x-jarmemu-source;
