[Desktop Entry]
Name=JArmEmu
Comment=The portable arm simulator
Exec=jarmemu %f
Terminal=false
Icon=fr.dwightstudio.JArmEmu
Type=Application
Categories=Development;IDE;
Keywords=java;arm;simulator;portable;educational;armv7;
StartupWMClass=fr.dwightstudio.jarmemu.base.gui.JArmEmuApplication
MimeType=text/x-jarmemu-source;
