.paragraph-box {
    -fx-background-color: -color-bg-overlay;
}
.code-area .caret {
    -fx-stroke: -color-fg-default;
}

.code-area {
    -fx-background-color: -color-bg-overlay;
}

.code-area .text {
    -fx-font-family: "Source Code Pro";
    -fx-fill: -color-fg-default;
}

.code-area .lineno {
    -fx-font-family: Monospaced;
    -fx-fill: -color-fg-muted;
}

.code-area .breakpoint {
    -fx-font-family: Monospaced;
    -fx-fill: -color-danger-emphasis;
}

.code-area .text.instruction {
    -fx-fill: #ab44d9;
    -fx-font-weight: bold;
}
.code-area .text.keyword {
    -fx-fill: #44b6d9;
    -fx-font-weight: bold;
}
.code-area .text.bracket {
    -fx-fill: #d95044;
    -fx-font-weight: bold;
}
.code-area .text.brace {
    -fx-fill: #d9a544;
    -fx-font-weight: bold;
}
.code-area .text.string {
    -fx-fill: #32409d;
}
.code-area .text.label {
    -fx-fill: #569d32;
    -fx-font-weight: bold;
}
.code-area .text.comment {
    -fx-fill: cadetblue;
}
.code-area .text.register {
    -fx-fill: #6444d9;
}
.code-area .text.imm {
    -fx-fill: #329d61;
}
.code-area .text.shift {
    -fx-fill: #9d3257;
}

.executed {
    -fx-background-color: -color-success-muted;
}

.scheduled {
    -fx-background-color: -color-warning-muted;
}

/*
.paragraph-box:has-caret {
    -fx-background-color: #be3030;
}
 */