.root {
    -fx-font-family: Cantarell;
}

.data-address {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 14px;
}

.data-value {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 14px;
}

.big-icon {
    -fx-icon-size: 48;
}

.medium-icon {
    -fx-icon-size: 32;
}

.medium-icon {
    -fx-icon-size: 32;
}